<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
    <script src="/app/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/main.css">
</head>
<body>
<div id="app">
    <button id="show-modal" @click="addNew()">新建</button>
    <!-- use the modal component, pass in the prop -->
    <div v-if="showModal" @close="showModal = false">
    
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header" style="border-bottom:1px solid #ddd;padding-bottom:10px">
                        <slot name="header">
                            New Task
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            
                        </slot>
                        <br>
                        <div class="kv_key">Project:</div>
                        <input type='input' v-model='newTask.project' class="kv_value">
                        <br>
                        <div class="kv_key">Interval:</div>
                        <input type='number' v-model.number='newTask.interval' class="kv_value" min="0">
                        <br>
                        <div class="kv_key">Run:</div>
                        <select v-model='newTask.is_running' class="kv_value">
                            <option>true</option>
                            <option>false</option>
                        </select>
                        <br>
                        <div class="kv_key">Auth:</div>
                        <select v-model='newTaskNeedAuth' class="kv_value">
                            <option>true</option>
                            <option>false</option>
                        </select>
                        <div v-if="newTaskNeedAuth=='true'" style='margin-left:20px;border:1px solid #eee'>
                            <div class="kv_key">URL:</div>
                            <input type='input' v-model='newTask.auth.url' class="kv_value">
                            <br>
                            <div class="kv_key">Method:</div>
                            <select v-model='newTask.auth.method' class="kv_value">
                                <option>post</option>
                                <option>get</option>
                            </select>
                            
                            <div v-if='newTask.auth.method=="post"' class="ul_bg">
                                body:
                                <ul >

                                    <li v-for='kv in newTask.auth.body'>
                                        key:
                                        <input v-model="kv.key">
                                        value:
                                        <input v-model="kv.value">

                                    </li>

                                </ul>
                                <ul>
                                    <li @click.stop="addKV(newTask.auth)">+</li>
                                </ul>
                            </div>

                            
                        </div>
                        <br>
                        <div class="kv_key">Items:</div>
                        <div class="ul_bg">
                            <ul style="width:85%"> 
                                <li v-for='item in newTask.items' style="margin-bootom:8px;">
                                    <div class="kv_key">url:</div>
                                    <input v-model='item.url' class="kv_value" >
                                    <br>
                                    method:
                                    <select v-model="item.method" class="kv_value" >
                                        <option>get</option>
                                        <option>post</option>
                                    </select>
                                    <br>
                                    <div v-if='item.method=="post"'>
                                        body:
                                        <ul v-for='kv in item.body'>

                                            <li style="margin-bottom:5px;">
                                                key:
                                                <input v-model="kv.key" >
                                                value:
                                                <input v-model="kv.value" >

                                            </li>

                                        </ul>
                                        <ul>
                                            <li @click.stop="addKV(item)">+</li>
                                        </ul>
                                    </div>

                                </li>
                                
                            </ul>
                            <ul>
                                <li @click.stop="addItem(newTask.items)">+</li>
                            </ul>
                        </div>
                    </div>

                    <div class="modal-footer" style="border-top:1px solid #ddd;padding-top:10px">
                        <slot name="footer">
                            <button class="modal-default-button" v-if='!onFocusTaskHash' @click="create()">
                                Create
                            </button>
                            <button class="modal-default-button" v-if='onFocusTaskHash' @click="save()">
                                Save
                            </button>
                            <button class="modal-default-button" @click="showModal=false">
                                Cancel
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
    <ul v-for="task in tasks">
        <li>
            <div @click.stop="getTask(task.hash)">
                {{task.name}}
            </div>    
        </li>
    </ul>
</div>
</body>
</html>

<script>
    var cloneObj = function(obj){
        var str, newobj = obj.constructor === Array ? [] : {};
        if(typeof obj !== 'object'){
            return;
        } else if(window.JSON){
            str = JSON.stringify(obj), //系列化对象
            newobj = JSON.parse(str); //还原
        } else {
            for(var i in obj){
                newobj[i] = typeof obj[i] === 'object' ?
                cloneObj(obj[i]) : obj[i];
            }
        }
        return newobj;
    };
    var app = new Vue({
        el: '#app',
        data: {
            tasks:'',
            onFocusTask:'',
            onFocusTaskHash:'',
            newTask:'',
            newTaskNeedAuth:"false",
            showNewPage: false,
            showModal: false,
        },
        methods: {
            addNew: function(){
                this.saveButtonText='Create'
                this.onFocusTaskHash = ''
                this.showModal=true
                this.newTask = {
                    "project": "",
                    "is_running": 'true',
                    "auth": {
                        "method": "post",
                        "url": "",
                        "body": [
                            {"key":"","value":""}
                        ]
                    },
                    "items":[
                        {
                            "url":"",
                            "method":"get",
                        }
                    ],
                    "interval":5,
                };

                this.showNewPage = true

            },
            addItem: function(items){
                items.push({
                            "url":"",
                            "method":"get",
                        })
            },
            getTask: function(hash){
                fetch('/tasks/'+hash)
                .then(response => response.json())
                .then(json=>{
                    this.newTask = json
                    this.onFocusTaskHash = hash
                    this.showModal = true
                    if(!this.newTask.hasOwnProperty('auth')){
                        this.newTask.auth = {
                            "method": "post",
                            "url": "",
                            "body": [
                                {"key":"","value":""}
                            ]
                        }
                    }
                    <!--console.log(JSON.stringify(json))-->
                })
            },
            addKV: function(item){
                console.log(item)
                if(item.hasOwnProperty('body')){
                    item.body.push({"key":"","value":""})
                }else{
                    
                    Vue.set(item,'body',[{"key":"","value":""}])
                }

            },
            save: function(){
                this.newTask.interval = parseInt(this.newTask.interval)
                if(this.newTask.is_running == 'true'){
                    this.newTask.is_running = true
                }else{
                    this.newTask.is_running = false
                }
                if(this.newTaskNeedAuth=='false'){
                    delete this.newTask.auth
                }
                fetch('/tasks/'+this.onFocusTaskHash, {
                    method: 'post',
                    body: JSON.stringify(this.newTask)
                  })
                  .then(response => response.json())
                  .then(json=>{
                    this.showModal = false
                    <!--console.log(JSON.stringify(json))-->
                  });
            },
            create: function(){
                this.newTask.interval = parseInt(this.newTask.interval)
                if(this.newTask.is_running == 'true'){
                    this.newTask.is_running = true
                }else{
                    this.newTask.is_running = false
                }
                if(this.newTaskNeedAuth=='false'){
                    delete this.newTask.auth
                }
                fetch('/tasks/add', {
                    method: 'post',
                    body: JSON.stringify(this.newTask)
                  })
                  .then(response => response.json())
                  .then(json=>{
                    this.showModal = false
                    <!--console.log(JSON.stringify(json))-->
                  });
                fetch('/tasks')
                .then(response => response.json())
                .then(json=>{
                    this.tasks = json
                    <!--console.log(JSON.stringify(json))-->
                })
            },
        

        },
        created(){
            fetch('/tasks')
                .then(response => response.json())
                .then(json=>{
                    this.tasks = json
                    <!--console.log(JSON.stringify(json))-->
                })
        }
    })





</script>
