<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
    <script src="/app/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/main.css">
</head>
<body>
<div id="app">
    {{ tasks }}

    <button @click.stop="addNew()">新建</button>
    <button id="show-modal" @click="showModal = true">Show Modal</button>
    <!-- use the modal component, pass in the prop -->
    <modal v-if="showModal" @close="showModal = false">
        <!--
          you can use custom content here to overwrite
          default content
        -->
        <h3 slot="header">custom header</h3>
    </modal>
    <ul v-for="task in tasks">
        <li>
            <div @click.stop="getTask(task.hash)">
                {{task.name}}
            </div>
            <div v-if="onFocusTask.project==task.name">

                <br>
                Project:<input type='input' v-model='onFocusTask.project'>
                <br>
                Interval:<input type='input' v-model='onFocusTask.interval'>
                <br>
                Items:
                <ul v-for='item in onFocusTask.items'>
                    <li>
                        url:<input v-model='item.url'>
                        <br>
                        method:
                        <select v-model="item.method">
                            <option>get</option>
                            <option>post</option>
                        </select>
                        <br>
                        <div v-if='item.method=="post"'>
                            body:
                            <ul v-for='kv in item.body'>

                                <li>
                                    key:
                                    <input v-model="kv.key">
                                    value:
                                    <input v-model="kv.value">

                                </li>

                            </ul>
                            <ul>
                                <li @click.stop="addKV(item)">+</li>
                            </ul>
                        </div>

                    </li>
                </ul>
                <button @click.stop="save()">save</button>
            </div>

        </li>
    </ul>
</div>
</body>
</html>

<script>
    var cloneObj = function(obj){
        var str, newobj = obj.constructor === Array ? [] : {};
        if(typeof obj !== 'object'){
            return;
        } else if(window.JSON){
            str = JSON.stringify(obj), //系列化对象
            newobj = JSON.parse(str); //还原
        } else {
            for(var i in obj){
                newobj[i] = typeof obj[i] === 'object' ?
                cloneObj(obj[i]) : obj[i];
            }
        }
        return newobj;
    };
    Vue.component('modal', {
        template: '#modal-template'
    });
    var app = new Vue({
        el: '#app',
        data: {
            tasks:'',

            onFocusTask:'',
            onFocusTaskHash:'',
            newTask:'',
            showNewPage: false,
            showModal: false,
        },
        methods: {
            addNew: function(){
                this.newTask = {
                    "project": "",
                    "is_running": true,
                    "auth": {
                        "method": "post",
                        "url": "",
                        "body": [
                            {"key":"","value":""}
                        ]
                    },
                    "items":[
                        {
                            "url":"",
                            "method":"get",
                        }
                    ]
                };

                this.showNewPage = true

            },
            getTask: function(hash){
                fetch('/tasks/'+hash)
                .then(response => response.json())
                .then(json=>{
                    this.onFocusTask = json
                    this.onFocusTaskHash = hash
                    <!--console.log(JSON.stringify(json))-->
                })
            },
            addKV: function(item){
                if(item.hasOwnProperty('body')){
                    item.body.push({"key":"","value":""})
                }else{
                    item.body=[{"key":"","value":""}]
                }

            },
            save: function(){
                fetch('/tasks/'+this.onFocusTaskHash, {
                    method: 'post',
                    body: JSON.stringify(this.onFocusTask)
                  })
                  .then(response => response.json())
                  .then(json=>{

                    <!--console.log(JSON.stringify(json))-->
                  });
            }

        },
        created(){
            fetch('/tasks')
                .then(response => response.json())
                .then(json=>{
                    this.tasks = json
                    <!--console.log(JSON.stringify(json))-->
                })
        }
    })





</script>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            default footer
                            <button class="modal-default-button" @click="$emit('close')">
                                OK
                            </button>
                            <button class="modal-default-button" @click="$emit('save')">
                                SAVE
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>