.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  /*display: table;*/
  transition: opacity .3s ease;
}

.modal-wrapper {
  /*display: table-cell;*/
  vertical-align: middle;
/*  overflow: hidden;*/
  margin-top: 80px;
  margin-bottom: 10%;
  height: 80%;
  max-height: 1000px;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  /*max-height: 100%;*/
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-header{

}

.modal-body {
  margin: 20px 0;
  padding-left: 10px;
  padding-right: 20px;
  overflow-y:auto;
  height: calc(100% - 100px)
}
.modal-footer{
  
}
.modal-default-button {
  float: right;
  
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.kv_key{
  display: inline;
  /*position: absolute;*/
}
.kv_value{
  /*margin-left: 100px;*/
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}
.ul_bg {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    /*padding-right: 20px;*/
    /*background-color: #f7f7f8;*/
}
#show-modal{
  float: right;
  width:100px;
  height:25px;
  margin:8px;
  border-radius: 2px;
  border: none;
}
th,td{
  border: 1px solid #ccc;
}
.menulist:hover{
  background-color: #eee;
}
.onedit{
  border: solid 1px #ddd;
  box-shadow: 1px 1px 1px 1px #ddd;
}
.del_button{
  transform:rotate(45deg);
  float: right;
  border:none;
  font-weight:500;
  background:none;
  outline: none;
  margin-right: -30px;
}